.titulo {
  position: relative;
  left: 49px;
  top: 45px;
}
.titulo h1 {
  width: 121px;
  height: 68px;
  font-family: Roboto, Calibri, Verdana;
  font-size: 64px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #152945;
}

.card {
  width: 568px;
  height: 608px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(223, 223, 223, 0.5);
}

.label {
  padding-left: 14.3px;
  font-family: Roboto, Calibri, Verdana;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  display: table-cell;
  color: #517489;
}

.chevron--down {
  position: absolute;
  top: 6px;
  width: 7.4px;
  height: 12px;
  object-fit: contain;
  transform: rotate(90deg);
}

.chevron--right {
  position: absolute;
  top: 6px;
  width: 7.4px;
  height: 12px;
  object-fit: contain;
}

.Snackwave-post-ironi {
  position: relative;
  left: 33.3px;
  font-family: Roboto, Calibri, Verdana;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #152945;
}

.accordion {
  position: relative;
  left: 50.3px;
  height: 24px;
  width: 470px;
  text-align: left;
  background-color: #ffffff;
  border: none;
  outline: none;
}
.accordion :hover {
  background-color: #517489;
}

.path {
  position: relative;
  left: 49px;
  width: 470px;
  height: 1px;
  border: solid 1px #dfe3e6;
  background-color: #dfe3e6;
}

.panel {
  position: relative;
  left: 40px;
  width: 430px;
  max-height: 0;
  overflow: hidden;
  transition: ease 0.5s;
}

/*# sourceMappingURL=minsait.css.map */
