$titleBlack: #152945
$white: #ffffff
$sombra: rgba(223, 223, 223, 0.5)
$labelBlue: #517489



.titulo
	position: relative	//necesario para emplear top/left properties
	left: 49px
	top: 45px
	h1
		width: 121px
		height: 68px
		font:
			family: Roboto, Calibri, Verdana  
			size: 64px
			weight: 300
			style: normal
			stretch: normal
		line:
			height: 1.06
		letter:
			spacing: normal
		text:
			align: left
		color: $titleBlack

.card
	width: 568px
	height: 608px
	border:
		radius: 5px
	background:
		color: $white
	box-shadow: $sombra

.label
	padding:
		left: 14.3px
	font:
		family: Roboto, Calibri, Verdana
		size: 16px
		weight: bold
		style: normal
		stretch: normal
	line:
		height: 1.5
	letter:
		spacing: normal
	text:
		align: left
	display: table-cell

	color: $labelBlue
.chevron--down
	position: absolute
	top: 6px
	width: 7.4px
	height: 12px
	object-fit: contain
	transform: rotate(90deg)
	
.chevron--right
	position: absolute
	top: 6px
	width: 7.4px
	height: 12px
	object-fit: contain
	
.Snackwave-post-ironi
	position: relative
	left: 33.3px
	font:
		family: Roboto, Calibri, Verdana
		size: 14px
		weight: normal
		style: normal
		stretch: normal
	line:
		height: 1.43
	letter-spacing: normal
	text:
		align: left
	color: $titleBlack

.accordion
	position: relative
	left: 50.3px
	height: 24px
	width: 470px
	text:
		align: left
	background:
		color: $white
	border: none
	outline: none
	:hover
		background:
			color: $labelBlue
.path
	position: relative
	left: 49px
	width: 470px
	height: 1px
	border: solid 1px #dfe3e6
	background-color: #dfe3e6
.panel
	position: relative
	left: 40px
	width: 430px
	max-height: 0
	overflow: hidden
	transition: ease 0.5s



